
@media(max-width:992px){
    .footer-container {
        color: #000;
        display: grid;
        grid-template-columns:
         repeat(auto-fit,minmax(270px,1fr));
         grid-row-gap: 2rem;
         word-break: break-all;
         word-wrap: break-word;

    }
}
@media (max-width:750px){
    .course_box_container > div p {
        line-height: 1.7;
        font-size: 12px;
        color: rgb(0,0,0,0.80);
    }
    .box:hover {
        transform: none;
        transition: 0.3s;
    }
    .box{
        width:350px;
        height: auto;
        padding-bottom: 20px;
        /* transform: scale(none); */
    }
    .coures-btn-img{
        display: flex;
        justify-content:space-between;
    }
    .box img {
        width: 100px;
        float: right;
        /* margin: auto; */
    }
    .test1-text span {
        font-size: 25px;
        font-weight: 300;
    }
    .test2-text span:nth-child(1) {
        font-size: 40px;
    }
    .card {
        height: 180px;
        margin-top: 0%;
    }
    .logo-box p {
        width: 100%;
        font-size: 18px;
    }
    .partners {
        margin-top: 10%;
        background-color: #026b80;
        padding: 30px 30px;
        height:auto;
        align-content: center;
        display: grid;
    }
    .btn-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: -10%;
    }
    .box {
        width: auto;
        height: auto;
        padding-bottom: 20px;
        /* transform: scale(none); */
    }
    .contact-row{
        grid-template-columns: repeat(1,1fr);
        box-shadow: 0.5px 1px 15px rgba(0, 0, 0, 0.1);
        justify-items: center;
        place-content: center;
    }
    .form{
        margin-top: 10%;
        box-shadow: 0.5px 1px 15px rgba(0, 0, 0, 0.1);
    }
    .course-search {
        display: flex;
        /* grid-template-columns: repeat(1,1fr); */
        margin-top: 50%;
        /* grid-row-gap:2rem; */
        flex-direction: column-reverse;
        /* height: 35vh; */
    }
    .course_img {
        margin-top: 20%;
    }

}
@media(max-width:670px){
    .hero-main {
        background-image: linear-gradient(to right, rgba(0, 0, 1, 1), rgba(0, 0, 0, 0.5)), url(images/pexels-elevate-digital-1647905.jpg);
        height: 35rem;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
    @keyframes scale {
        0% {
            transform: scale(1);
            opacity: 1;
            transition: 0.5s;
        }
    
        30% {
            transform: scale(1);
            opacity: 1;
            transition: 0.5s;
        }
    
        60% {
            transform: scale(1);
            opacity: 1;
            transition: 0.5s;
        }
    
        80% {
            transform: scale(1.1);
            opacity: 1;
            transition: 0.5s;
    
        }
    
        100% {
            opacity: 1;
            transform: scale(1);
        }
      
    }
    .grid div:nth-child(1) {
        width: auto;
    }
    .grid{
        flex-direction: column;
    }
    .grid div h1 {
        font-size: 3rem;
        text-align: center;
        line-height: 3.7rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-header p {
        font-size: 20px;
        font-family: heebo;
        text-align: center;
        width: auto;
    }
    .contact-boxes{ 
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* flex-direction: column; */
    }
    
}

@media (max-width:500px){
    .hero-main {
        background-image: linear-gradient(to right, rgba(0, 0, 1, 1), rgba(0, 0, 0, 0.5)), url(images/pexels-elevate-digital-1647905.jpg);
        height: 27rem;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
    .banner {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 1em;
        background-color: #fff;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
        /* padding: 50px 50px 90px 50px; */
        height: auto;
        margin-top: -20%;
        place-items: center;
        justify-items: center;
        place-content: center;
        text-align: left;
     
    }
    .banner .banner_box h3{
        font-size: 18px;
    }
    .banner .banner_box p{
        font-size: 16px;
    }
    section {
        margin: 0px 10px;
    }
    .course-heading h3 {
        text-align: center;
        font-size: 20px;
        color: rgb(3, 40, 107);
        line-height: 1.5;
    }
    .course_box_container {
        grid-template-columns: repeat(1,1fr);      
    }
    .course_offer{
        margin-top: 20%;
    }
    .box{
        width:90%;
        height: auto;
        /* transform: scale(none); */
    }
 
    .box img {
        width: 100px;
        float: right;
        margin: auto;
    }
    .course_box_container > div {
        background-color: #fff;
        box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.3);
        padding: 20px;
    }
    .driven h3 {
        font-size: 25px;
        /* padding-bottom: 2px; */
        color: rgb(6, 49, 129);
    }
.driven h5{
    font-size: 30px;
}
.list > div h5 {
	font-size: 20px;
	padding-bottom: 5px;
    font-family: heebo;
	color: #01275f;
}
.list > div p {
	color: #a1a1a1;
    font-size: 15px;
    font-family: heebo;
}
.list > div {
	width: auto;
}
.img{
    /* width: 300px; */
    display: flex;
    flex-direction: column;
}
.img img{
    width: 100%;
}
.card {
	height: auto;
	width: auto;
	max-height:auto;
	position: relative;
	background-color: #fff;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-top: 25%;
	word-break: break-all;
	word-wrap: break-word;
	border-radius: 20px;
}
.card-text q {
	font-size: 13px;
	font-weight: 300;
	text-align: center;
}
.accordion-btn{
    line-height: 1.5rem;
}
.card {
    height:55rem;
    width:20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 180px;
    position: relative;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 10%;
    word-break: normal;
    word-wrap: normal;
    border-radius: 20px;
/* text-align: center; */

}
.footer-container {
    display: grid;
    grid-template-columns:
     repeat(1,1fr);
}
.copyright-section {
	padding: 0px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.hero-text span {
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 40px;
}
.item-box p {
	margin-top: 10px;
	font-family: heebo;
	width: auto;
}
.grid div p{
    font-size: 14px;
}
.grid div h1 {
	font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.course-header > h3 {
	font-size: 30px;
}
.col-6 > form > input:nth-child(1) {
	height: 50px;
	width: 70%
}
}
@media (max-width:370px){
  
    .card h4{
        display: flex;
        justify-content: center;
    }
    .card {
        transition: 0.5s;
        height:55rem;
        width:18rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 180px;
        position: relative;
        background-color: #fff;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 10%;
        word-break: normal;
        word-wrap: normal;
        border-radius: 20px;
    /* text-align: center; */
    
    }
    .header h1 {
        font-size: 50px;
    }
    .row {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* grid-column-gap: 1rem; */
        /* grid-row-gap: 5rem; */
        place-items: center;
    }
    .team_card {
  
        width:17rem;
        /* padding: 30px; */
  
    }
}
@media (max-width:330px){
    .list > div  {
      width: 250px;
      word-wrap: break-word;
      word-break: break-all;
      /* font-size: 12px; */
      line-height: 1rem;

    }
    .list > div p{
        font-size: 12px;
    }
    .img{
        display: flex;
        /* place-items: center; */
        justify-content: center;
        align-items: center;
        /* margin: 30px 30px; */
        margin-right: 70px;
        float: none;

    }
    .driven h5 {
        font-size: 20px;
    }
    .img img {
        width:12em;
    }
    .quality-banner-box {
        grid-template-columns: 1fr;
        height: auto;
    }
    .important-banner {
        background-color: #fff;
        height: auto;
    }
    .important-banner > p {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.7rem;
        padding-bottom: 40px;
        /* word-break: break-all; */
    }
    .important-banner h3 {
        padding-bottom: 20px;
        line-height: 1.5rem;
    }
    .info > div > span {
        display: grid;
        width: 10rem;
    }
    .footer-container > div:nth-child(1) p {
        
        display: grid;
        width: 100%;
        word-break: break-all;
        word-wrap: break-word;
    }
    .about-header h1 {
        font-size: 50px;
        font-family: sans-serif;
        font-weight: 300;
        margin-bottom: 20px;
        text-align: center;
    }
    .item-box{
        word-wrap: break-word;
        word-break: break-all;
        width: auto;
    }
    .contact-row{
        /* display:inline-block; */
        width: 100%;
    
    }
  
    .form form{
        /* display: flex;
        flex-direction: column; */
        display: grid;
        /* align-items: center; */
        width: 100%;
    }
    .form{
        display: grid;
        width: 100%;
        place-content: center;
        height: auto;
        box-shadow: none;

    }
    .form_input{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
.item-box{
    width: 100%;
}
.contact-row {
	/* grid-template-columns: repeat(1,1fr); */
	/* box-shadow: 0.5px 1px 15px rgba(0, 0, 0, 0.1); */
	/* justify-items: center;
	place-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0px 0px; padding: 0px 0px;
}
}