@media(max-width:920px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .nav-items {
        display: grid;
        grid-template-columns: auto;
        position: absolute;
        top: -100%;
        opacity: 0;
        height: auto;
        padding: 50px 00px;
        transition: all 0.7s ease;
        z-index: -1;
    }

    .nav-items.active {
        background: rgb(255, 255, 255);
        top: 10%;
        opacity: 1;
        transition: all 0.7s ease;
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 1.6rem;
        overflow: visible;
    }
.logo{
    margin-left: 50px;
}
    .logo-footer {
        margin-left: 50px;
        width: 70px;
    }
.nav-form{
    margin-right: 50px;
}
    .navbar__toggle .bar {
        width: 25px;
        height:4px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: rgb(50, 10, 155);
        margin-right: 10px;
    }

    .nav-items {
        width: 100%;
    }

    .nav-items li {
        width: 100%;
        padding-top: 30px;
        display: block;

    }

    .nav-items li a {
        display: block;
        transition: 0.5s;
        color: #000;
        font-size: 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    #mobile-menu {
        position: absolute;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        height: 4px;
        width: 30px;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
@media screen and (max-width:850px){
    *{
        overflow-wrap: break-word;
        word-break: break-all;
    }
    .course_img{
        display: none;
    }
    .footer-container {
        color: #000;
        display: flex;
         position:relative;
         flex-direction: column;

    }
    .logo-footer{
        width: 10rem;
    }

    .contact-item{
        margin-top: -350px;
        height:auto;
        background-color: #fff;
        position: relative;
        box-shadow: none;
        width: 100%;
        margin-left: 0;
        /* padding: 20px; */
    }
    .form{
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    }
    /* .course_box_container{
        grid-template-columns: repeat(1fr,1fr);
    } */
    .course_box_container > div p {
        line-height: 1.7;
        font-size: 12px;
        color: rgb(0,0,0,0.80);
    }
    .box:hover {
        transform: none;
        transition: 0.3s;
    }
    .box{
        width:auto;
        height: auto;
        padding-bottom: 20px;
        /* transform: scale(none); */
    }
    .coures-btn-img{
        display: flex;
        justify-content:space-between;
    }
    .box img {
        width: 100px;
        float: right;
        /* margin: auto; */
    }
    .test1-text span {
        font-size: 25px;
        font-weight: 300;
    }
    .test2-text span:nth-child(1) {
        font-size: 40px;
    }
    .card {
        height: 180px;
    }
    .logo-box p {
        width: 100%;
        font-size: 18px;
    }

    .btn-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: -10%;
    }
    .box {
        width: 20rem;
        height: auto;
        padding-bottom: 20px;
        /* transform: scale(none); */
    }
    .contact-row{
        grid-template-columns: repeat(1,1fr);
        box-shadow: 0.5px 1px 15px rgba(0, 0, 0, 0.1);
        justify-items: center;
        place-content: center;
    }
    .form{
        margin-top: 10%;
        box-shadow: 0.5px 1px 15px rgba(0, 0, 0, 0.1);
    }
    .course_img {
        margin-top: 20%;
    }
    .logo-box{
        margin-top: 5rem;
    }
    .partners{
       padding: 30px 30px;
       height:auto;
       display: grid;
       place-items: center;
       justify-items: center;
   
   }
   .logo-box p{
    height: 15rem;
}
.footer-container div{
    margin-bottom: 2rem;
}
.div-text{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2rem;
}

}
@media(max-width:670px){
    .hero-main {
         height: 35rem;
    }
    @keyframes scale {
        0% {
            transform: scale(1);
            opacity: 1;
            transition: 0.5s;
        }
    
        30% {
            transform: scale(1);
            opacity: 1;
            transition: 0.5s;
        }
    
        60% {
            transform: scale(1);
            opacity: 1;
            transition: 0.5s;
        }
    
        80% {
            transform: scale(1.1);
            opacity: 1;
            transition: 0.5s;
    
        }
    
        100% {
            opacity: 1;
            transform: scale(1);
        }
      
    }
    .grid div:nth-child(1) {
        width: auto;
    }
    .grid{
        flex-direction: column;
    }
    /* .grid div h1 {
        font-size: 3rem;
        text-align: center;
        line-height: 3.7rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    /* .about-header p {
        font-size: 20px;
        font-family: heebo;
        text-align: center;
        width: auto;
    } */
    .contact-boxes{ 
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* flex-direction: column; */
    }
    .Promo{
        overflow-x: hidden;
        width: 100%;
    }
    .Promo-text h3 {
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 10px;
        color: #fff;
    }
    .Promo-text p {
        font-size: 20px;
        color: #fff;
        line-height: 2rem;
    }
    
    
}

@media (max-width:500px){
    .hero-main {
        height: 27rem;

    }
    .banner {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 1em;
        background-color: #fff;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
        /* padding: 50px 50px 90px 50px; */
        height: auto;
        margin-top: -20%;
        place-items: center;
        justify-items: center;
        place-content: center;
        text-align: left;
     
    }
    .banner .banner_box h3{
        font-size: 18px;
    }
    .banner .banner_box p{
        font-size: 16px;
    }
    section {
        margin: 0px 10px;
    }
    .course-heading h3 {
        text-align: center;
        font-size: 20px;
        color: rgb(3, 40, 107);
        line-height: 1.5;
    }
    .course_box_container {
        grid-template-columns: repeat(1,1fr);      
    }
    .course_offer{
        margin-top: 20%;
    }
    .box{
        width:70%;
        height: auto;
        /* transform: scale(none); */
    }
 
    .box img {
        width: 100px;
        float: right;
        margin: auto;
    }
    .course_box_container > div {
        background-color: #fff;
        box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.3);
        padding: 20px;
    }
    .driven h3 {
        font-size: 25px;
        /* padding-bottom: 2px; */
        color: rgb(6, 49, 129);
    }
.driven h5{
    font-size: 30px;
}
.list > div h5 {
	font-size: 20px;
	padding-bottom: 5px;
    font-family: heebo;
	color: #01275f;
}
.list > div p {
	color: #a1a1a1;
    font-size: 15px;
    font-family: heebo;
}
.list > div {
	width: auto;
}
.img{
    /* width: 300px; */
    display: flex;
    flex-direction: column;
}
.img img{
    width: 100%;
}

.card-text q {
	font-size: 13px;
	font-weight: 300;
	text-align: center;
}
.accordion-btn{
    line-height: 1.5rem;
}
.card {
    height:55rem;
    width:20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.Test1{
    grid-gap: 7rem;
}
.footer-container {
    display: grid;
    grid-template-columns:
     repeat(1,1fr);
}
.copyright-section {
	padding: 0px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.hero-text span {
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 40px;
}
.item-box p {
	margin-top: 10px;
	font-family: heebo;
	width: auto;
}
/* .grid div p{
    font-size: 14px;
}
.grid div h1 {
	font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
} */
.course-header > h3 {
	font-size: 30px;
}
.col-6 > form > input:nth-child(1) {
	height: 50px;
	width: 70%
}
}
@media (max-width:370px){
  
    .card h4{
        display: flex;
        justify-content: center;
    }
    .card {
        transition: 0.5s;
        height:55rem;
        width:18rem;
        justify-content: center;
        align-items: center;
    
    }
    .card-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* .Test1{
        margin-top: 5rem;
    } */
   

    .header h1 {
        font-size: 50px;
    }
    .row {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        place-items: center;
    }
    .team_card {
        width:17rem; 
    }
    .list > div  {
      width: 250px;
      word-wrap: break-word;
      word-break: break-all;
      line-height: 1rem;

    }
    .list > div p{
        font-size: 12px;
    }
    .img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 70px;
        float: none;

    }
    .driven h5 {
        font-size: 20px;
    }
    .img img {
        width:12em;
    }
    .quality-banner-box {
        grid-template-columns: 1fr;
        height: auto;
    }
    .important-banner {
        background-color: #fff;
        height: auto;
    }
    .important-banner > p {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.7rem;
        padding-bottom: 40px;
    }
    .important-banner h3 {
        padding-bottom: 20px;
        line-height: 1.5rem;
    }
    .info > div > span {
        display: grid;
        width: 10rem;
    }
    .footer-container > div:nth-child(1) p {
        display: grid;
        width: 100%;
        word-break: break-all;
        word-wrap: break-word;
    }
    .about-header h1 {
        font-size: 50px;
        font-family: sans-serif;
        font-weight: 300;
        margin-bottom: 20px;
        text-align: center;
    }
    .item-box{
        word-wrap: break-word;
        word-break: break-all;
        width: auto;
    }
    .contact-row{
        width: 100%;
    
    }
  
    .form form{
      display: grid;
        width: 100%;
    }
    .form{
        display: grid;
        width: 100%;
        place-content: center;
        height: auto;
        box-shadow: none;

    }
    .form_input{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
.item-box{
    width: 100%;
}
.contact-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0px 0px; padding: 0px 0px;
}
}